<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Easy-Monitor</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <link rel="stylesheet" href="/easy-monitor/demo/dist/demo/main.css">
</head>
<body>
    <div id="app"></div>
    <script type="text/javascript" src="/easy-monitor/demo/dist/echarts2.min.js"></script>
    <script type="text/javascript" src="/easy-monitor/demo/dist/demo/vendors.js"></script>
    <script type="text/javascript" src="/easy-monitor/demo/dist/demo/main.js"></script>
</body>
</html>